<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <title> My Restau</title>
  </head>



  <body>
    <div class="container-fluid">

      <!-- Header -->
      <div class="row">

        <nav class=" header col-12 navbar navbar-light">
            <a class="navbar" href="/">
            <img src="/images/Navbar_entree.jpg" width="980" height="150" class="logo" alt="Banniere">
            <p>Le restaurant de Tessa </p>
            </a>
        </nav>

    </div>  
    <!-- Jumbotron a voir -->
    <div class="row">

      <div class="col-12 jumbotron jumbotron-fluid">
          <div class="container"></div>
          <p>Test</p>
      </div>

    




    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>



</html>
